.jumbotron{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-image.jpg");
    /* Set a specific height */
    /* height: 100%; */
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 20px;
}

.lead{
    margin-top: 190px;
    margin-left: 132px;
}

.jumbotron > .lead > .btn {
    width: 155px;
}
.container-fluid > .row:nth-child(2) > div > h3{
    font-weight: bold;
    font-size: 1.5rem;
    color: #495867;
}

.container-fluid > .row > .col-12 > .desc{
    color: #495867;
}

.card{
    min-height: 480px;
    border-radius: 10px;
}

.card-img-top{
    height: 300px;
    width: 175px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.card-title{
    width: auto;
    height: 71px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media  screen and (max-width: 1366px) {
    .card{
        min-height: 300px;
    }
    .card-img-top{
        height: 200px;
        width: 114px;
    }
    .card-body{
        font-size: 12px;
    }
    .card-title{
        height: 36px;
    }
    .btn{
        font-size: 10px;
        width: fit-content;
        bottom: 8px;
    }
}